/** @format */

* {
   margin: 0;
   padding: 0;
}
body {
   background-color: #0a2345;
   font-family: 'Montserrat';
   color: rgb(46, 102, 178);
   font-size: 18px;
}
body::-webkit-scrollbar {
   width: 10px;
   background-color: rgb(84, 122, 175);
}
body::-webkit-scrollbar-thumb {
   background-color: rgba(38, 0, 175, 0.699);
}

.wrapper {
   min-height: 100vh;
}
.title {
   font-size: 40px; //48
   color: #ffffff;
   span {
      color: rgb(46, 102, 178);
   }
}
.button {
   width: 200px;
   height: 50px;
   font-size: 14px;
   color: #ffffff;
   border: 2px solid rgb(21, 59, 109);
   border-radius: 40px;
   background-color: rgba(46, 102, 178, 0);
   outline: none;
}
.button:hover {
   background-color: rgba(46, 101, 178, 0.692);
}
.text {
   color: rgb(102, 119, 142);
   font-size: 12px;
   line-height: 30px;
}
.header {
   header {
      width: 100%;
   }
   .header__logo {
      // margin: 25px 60px;
      img {
         width: 60px;
         height: 55px;
         vertical-align: middle;
      }
      span {
         margin-left: 10px;
         font-size: 25px;
         color: rgb(255, 255, 255);
         font-weight: bold;
      }
   }
   .header__menu {
      background-color: azure;
      width: 40px;
      height: 40px;
      float: right;
   }
   .header__body {
      width: 100%;
      .header__welcome {
         max-width: 90%;
         margin: 100px auto;
         text-align: center;

         .header__text {
            margin-top: 40px;
         }
         .header__button {
            margin-top: 80px;
         }
      }
      .header__image {
         width: 100%;
      }
   }
}

.features__headphone {
   display: flex;

   .headphone__image {
      min-width: 45%;
      img {
         width: 100%;
      }
   }
   .headphone__text {
      .features__text {
         margin-top: 40px;
      }
      .features__button {
         margin-top: 40px;
      }
   }
}
.features__phone {
   margin-top: 40px;
   height: 100vh;
   .phone__title {
      text-align: center;
   }

   .features__content {
      width: 100%;
      min-height: 100%;
      .phone__image {
         width: 50%;
         img {
            width: 100%;
         }
      }
      .features__rows:first-child {
         float: left;
      }
      .features__rows:last-child {
         float: right;
      }
      .rows__item {
         margin-top: 50px;
         img {
            width: 40px;
            height: 40px;
         }
         .rows_name {
            margin-top: 20px;
         }
         .rows_text {
            margin-top: 20px;
         }
      }
   }
}

.perspective {
   width: 100%;
   display: flex;

   .pespective__info {
      img {
         width: 40px;
         height: 40px;
      }
      .pespective__name {
         font-size: 24px;
         color: #ffff;
         margin-top: 20px;
      }
      .perspective__text {
         margin-top: 20px;
      }
   }

   .pespective__image {
      img {
         width: 100%;
      }
   }
}
.opinion {
   text-align: center;
   color: rgb(102, 119, 142);
   width: 100%;
   height: 500px;
   background: url('/Image/Photo.png') #061327 0 0/100% 100% no-repeat;
   .opinion__text {
      margin: 0 auto;
      line-height: 2;
   }
   .opinion__person {
      margin: 0 auto;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .img {
         margin-right: 20px;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: #ffffff;
      }
      span {
         color: rgb(46, 102, 178);
      }
   }
   .bullet {
      margin: 0 auto;
      padding-top: 30px;
      display: flex;
      justify-content: center;
      .dot {
         margin-left: 15px;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: #ffffff;
      }
   }
}
.app {
   text-align: center;
   background-color: #040a14;
   padding-top: 80px;
   .app__title {
      font-weight: 500;
      color: #fff;
   }
   .app__texts {
      margin: 40px auto;
   }
   .app__image {
      width: 80%;
      margin: 0 auto;
      img {
         width: 100%;
      }
   }
   button {
      margin: 40px 0;
   }
}
footer {
   background-color: #040a14;
   height: 100px;
   .content {
      margin: 0 auto;
      border-top: 1px solid rgb(21, 59, 109);
      display: flex;
   }
   .footer__text {
      font-weight: 500;
   }
   .link {
      display: flex;
      p {
         margin-left: 10px;
      }
   }
}
@media screen and (min-width: 1368px) {
   .header__logo {
      margin: 25px 60px;
   }
   .text {
      font-size: 18px;
   }
   .title {
      font-size: 34px;
   }
   .features__rows {
      width: 25%;
      margin: 130px 5% 0 5%;
      .rows_name {
         font-size: 24px;
      }
      img {
         width: 50px;
         height: 50px;
      }
   }
   .phone__image {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
   }
   .headphone__text {
      padding: 5% 0 0 50px;
   }
   .perspective {
      padding-top: 80px;
   }
   .pespective__info {
      width: 40%;
      padding: 50px 7%;
   }
   .opinion__text {
      width: 60%;
      padding-top: 170px;
      font-size: 20px;
   }
   .app__title {
      font-size: 24px;
   }
   .app__texts {
      width: 60%;
   }
   .footer__text {
      font-size: 13px;
      margin: 0 10px;
   }
   .content {
      width: 80%;
      justify-content: space-between;
      padding-top: 30px;
   }
}

@media screen and (max-width: 1368px) {
   .header__logo {
      margin: 25px 60px;
   }
   .text {
      font-size: 12px;
   }
   .features__rows {
      width: 25%;
      margin: 130px 5% 0 5%;

      img {
         width: 40px;
         height: 40px;
      }
   }
   .phone__image {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
   }
   .headphone__text {
      padding: 5% 0 0 50px;
   }
   .perspective {
      padding-top: 280px;
   }
   .pespective__info {
      width: 40%;
      padding: 50px 7%;
   }
   .opinion__text {
      width: 60%;
      padding-top: 170px;
      font-size: 20px;
   }
   .app__title {
      font-size: 24px;
   }
   .app__texts {
      width: 60%;
   }
   .app__title {
      font-size: 24px;
   }
   .app__texts {
      width: 60%;
   }
   .footer__text {
      font-size: 13px;
      margin: 0 10px;
   }
   .content {
      width: 80%;
      justify-content: space-between;
      padding-top: 30px;
   }
}
@media screen and (max-width: 992px) {
   .features__rows {
      margin: 30px 5% 0 5%;
      .rows_name {
         font-size: 15px;
      }
      img {
         width: 30px;
         height: 30px;
      }
   }
   .perspective {
      padding-top: 0;
   }
   .pespective__info {
      width: 50%;
      padding: 50px 7%;
   }
   .footer__text {
      font-size: 11px;
   }
}
@media screen and (max-width: 768px) {
   body {
      font-size: 14px;
   }
   .title {
      font-size: 25px;
   }
   .header__logo {
      margin: 15px 30px;
   }
   .text {
      font-size: 11px;
   }
   .headphone__text {
      padding: 30px 20px 0 25px;
   }

   .features__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .phone__image {
         position: static;
         width: 70%;
         left: 0;
         transform: translate(0);
      }
   }
   .features__rows {
      display: flex;
      justify-content: space-around;
      width: 90%;
      margin: 10px 0 0 0;
      .rows__item {
         margin: 0 20px 0 20px;
      }
      .rows_name {
         font-size: 24px;
      }
      img {
         width: 50px;
         height: 50px;
      }
   }
   .perspective {
      flex-wrap: wrap;
      padding-top: 350px;
      .pespective__info {
         margin: 50px auto;
         padding: 0 7%;
         width: 80%;
         text-align: center;
      }
   }
   .opinion__text {
      width: 80%;
      padding-top: 100px;
      font-size: 17px;
   }
   .app__title {
      font-size: 20px;
   }
   .app__texts {
      width: 80%;
   }
   .footer__text {
      font-size: 11px;
      margin: 20px 10px 0 10px;
   }
   .content {
      width: 80%;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0;
   }
}
@media screen and (max-width: 600px) {
   .features__headphone {
      flex-wrap: wrap;
      text-align: center;
   }
}
@media screen and (max-width: 458px) {
   body {
      font-size: 12px;
   }
   .title {
      font-size: 20px;
      color: #ffffff;
   }
   .header__logo {
      margin: 10px 10px;
   }
   .features__rows {
      flex-wrap: wrap;
   }
   .pespective__info {
      margin: 350px auto 0;
   }
   .perspective {
      padding-top: 650px;
   }
   .opinion__text {
      font-size: 15px;
   }
}
