/** @format */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a2345;
  font-family: 'Montserrat';
  color: #2e66b2;
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #547aaf;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(38, 0, 175, 0.699);
}

.wrapper {
  min-height: 100vh;
}

.title {
  font-size: 40px;
  color: #ffffff;
}

.title span {
  color: #2e66b2;
}

.button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  color: #ffffff;
  border: 2px solid #153b6d;
  border-radius: 40px;
  background-color: rgba(46, 102, 178, 0);
  outline: none;
}

.button:hover {
  background-color: rgba(46, 101, 178, 0.692);
}

.text {
  color: #66778e;
  font-size: 12px;
  line-height: 30px;
}

.header header {
  width: 100%;
}

.header .header__logo img {
  width: 60px;
  height: 55px;
  vertical-align: middle;
}

.header .header__logo span {
  margin-left: 10px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.header .header__menu {
  background-color: azure;
  width: 40px;
  height: 40px;
  float: right;
}

.header .header__body {
  width: 100%;
}

.header .header__body .header__welcome {
  max-width: 90%;
  margin: 100px auto;
  text-align: center;
}

.header .header__body .header__welcome .header__text {
  margin-top: 40px;
}

.header .header__body .header__welcome .header__button {
  margin-top: 80px;
}

.header .header__body .header__image {
  width: 100%;
}

.features__headphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__headphone .headphone__image {
  min-width: 45%;
}

.features__headphone .headphone__image img {
  width: 100%;
}

.features__headphone .headphone__text .features__text {
  margin-top: 40px;
}

.features__headphone .headphone__text .features__button {
  margin-top: 40px;
}

.features__phone {
  margin-top: 40px;
  height: 100vh;
}

.features__phone .phone__title {
  text-align: center;
}

.features__phone .features__content {
  width: 100%;
  min-height: 100%;
}

.features__phone .features__content .phone__image {
  width: 50%;
}

.features__phone .features__content .phone__image img {
  width: 100%;
}

.features__phone .features__content .features__rows:first-child {
  float: left;
}

.features__phone .features__content .features__rows:last-child {
  float: right;
}

.features__phone .features__content .rows__item {
  margin-top: 50px;
}

.features__phone .features__content .rows__item img {
  width: 40px;
  height: 40px;
}

.features__phone .features__content .rows__item .rows_name {
  margin-top: 20px;
}

.features__phone .features__content .rows__item .rows_text {
  margin-top: 20px;
}

.perspective {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.perspective .pespective__info img {
  width: 40px;
  height: 40px;
}

.perspective .pespective__info .pespective__name {
  font-size: 24px;
  color: #ffff;
  margin-top: 20px;
}

.perspective .pespective__info .perspective__text {
  margin-top: 20px;
}

.perspective .pespective__image img {
  width: 100%;
}

.opinion {
  text-align: center;
  color: #66778e;
  width: 100%;
  height: 500px;
  background: url("/Image/Photo.png") #061327 0 0/100% 100% no-repeat;
}

.opinion .opinion__text {
  margin: 0 auto;
  line-height: 2;
}

.opinion .opinion__person {
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinion .opinion__person .img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.opinion .opinion__person span {
  color: #2e66b2;
}

.opinion .bullet {
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opinion .bullet .dot {
  margin-left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.app {
  text-align: center;
  background-color: #040a14;
  padding-top: 80px;
}

.app .app__title {
  font-weight: 500;
  color: #fff;
}

.app .app__texts {
  margin: 40px auto;
}

.app .app__image {
  width: 80%;
  margin: 0 auto;
}

.app .app__image img {
  width: 100%;
}

.app button {
  margin: 40px 0;
}

footer {
  background-color: #040a14;
  height: 100px;
}

footer .content {
  margin: 0 auto;
  border-top: 1px solid #153b6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__text {
  font-weight: 500;
}

footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .link p {
  margin-left: 10px;
}

@media screen and (min-width: 1368px) {
  .header__logo {
    margin: 25px 60px;
  }
  .text {
    font-size: 18px;
  }
  .title {
    font-size: 34px;
  }
  .features__rows {
    width: 25%;
    margin: 130px 5% 0 5%;
  }
  .features__rows .rows_name {
    font-size: 24px;
  }
  .features__rows img {
    width: 50px;
    height: 50px;
  }
  .phone__image {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .headphone__text {
    padding: 5% 0 0 50px;
  }
  .perspective {
    padding-top: 80px;
  }
  .pespective__info {
    width: 40%;
    padding: 50px 7%;
  }
  .opinion__text {
    width: 60%;
    padding-top: 170px;
    font-size: 20px;
  }
  .app__title {
    font-size: 24px;
  }
  .app__texts {
    width: 60%;
  }
  .footer__text {
    font-size: 13px;
    margin: 0 10px;
  }
  .content {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
  }
}

@media screen and (max-width: 1368px) {
  .header__logo {
    margin: 25px 60px;
  }
  .text {
    font-size: 12px;
  }
  .features__rows {
    width: 25%;
    margin: 130px 5% 0 5%;
  }
  .features__rows img {
    width: 40px;
    height: 40px;
  }
  .phone__image {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .headphone__text {
    padding: 5% 0 0 50px;
  }
  .perspective {
    padding-top: 280px;
  }
  .pespective__info {
    width: 40%;
    padding: 50px 7%;
  }
  .opinion__text {
    width: 60%;
    padding-top: 170px;
    font-size: 20px;
  }
  .app__title {
    font-size: 24px;
  }
  .app__texts {
    width: 60%;
  }
  .app__title {
    font-size: 24px;
  }
  .app__texts {
    width: 60%;
  }
  .footer__text {
    font-size: 13px;
    margin: 0 10px;
  }
  .content {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .features__rows {
    margin: 30px 5% 0 5%;
  }
  .features__rows .rows_name {
    font-size: 15px;
  }
  .features__rows img {
    width: 30px;
    height: 30px;
  }
  .perspective {
    padding-top: 0;
  }
  .pespective__info {
    width: 50%;
    padding: 50px 7%;
  }
  .footer__text {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .title {
    font-size: 25px;
  }
  .header__logo {
    margin: 15px 30px;
  }
  .text {
    font-size: 11px;
  }
  .headphone__text {
    padding: 30px 20px 0 25px;
  }
  .features__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__content .phone__image {
    position: static;
    width: 70%;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .features__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin: 10px 0 0 0;
  }
  .features__rows .rows__item {
    margin: 0 20px 0 20px;
  }
  .features__rows .rows_name {
    font-size: 24px;
  }
  .features__rows img {
    width: 50px;
    height: 50px;
  }
  .perspective {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 350px;
  }
  .perspective .pespective__info {
    margin: 50px auto;
    padding: 0 7%;
    width: 80%;
    text-align: center;
  }
  .opinion__text {
    width: 80%;
    padding-top: 100px;
    font-size: 17px;
  }
  .app__title {
    font-size: 20px;
  }
  .app__texts {
    width: 80%;
  }
  .footer__text {
    font-size: 11px;
    margin: 20px 10px 0 10px;
  }
  .content {
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .features__headphone {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 458px) {
  body {
    font-size: 12px;
  }
  .title {
    font-size: 20px;
    color: #ffffff;
  }
  .header__logo {
    margin: 10px 10px;
  }
  .features__rows {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pespective__info {
    margin: 350px auto 0;
  }
  .perspective {
    padding-top: 650px;
  }
  .opinion__text {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */